In [7]:
import os
import scipy
import numpy as np
import pandas as pd
import math
import sys
import multivelo as mv
import scanpy as sc
import scvelo as scv
import matplotlib.pyplot as plt
import requests
# from dtw import *

In [2]:
scv.settings.verbosity = 3
scv.settings.presenter_view = True
scv.set_figure_params('scvelo')
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 200)
np.set_printoptions(suppress=True)

In [3]:

rna_path = "/mnt/data0/halo/mouse_breastcancer/C1"
# atac_path = "data/datasets/human_brain_atac_gene_after_filt_r2.h5ad"

In [18]:
adata_c1 = sc.read_10x_mtx(rna_path, gex_only=False)
# adata_atac = sc.read(atac_path, =atac_url)

In [19]:
adata_c1

AnnData object with n_obs × n_vars = 16207 × 173854
    var: 'gene_ids', 'feature_types'

In [21]:
adata_c1.obs

Empty DataFrame
Columns: []
Index: [AAACAGCCAAACGCGA-1, AAACAGCCAAAGCTCC-1, AAACAGCCAACACCTA-1, AAACAGCCAATCCTGA-1, AAACAGCCAATTGACT-1, AAACAGCCAATTTGGT-1, AAACAGCCACACTAAT-1, AAACAGCCAGCATGAG-1, AAACAGCCAGGCTGTT-1, AAACAGCCAGTTATGT-1, AAACAGCCATACCCGG-1, AAACAGCCATAGCTGC-1, AAACAGCCATATTGAC-1, AAACAGCCATCGTTCT-1, AAACAGCCATGAATAG-1, AAACAGCCATGTGGGA-1, AAACAGCCATTAAGTC-1, AAACATGCACCTAATG-1, AAACATGCACGAATCC-1, AAACATGCAGGCTACT-1, AAACATGCATCATGGC-1, AAACATGCATCCTAGA-1, AAACATGCATTTAAGC-1, AAACCAACAAACCTAT-1, AAACCAACAAACTGTT-1, AAACCAACAACAGGTG-1, AAACCAACAAGGGTTG-1, AAACCAACAATTATGC-1, AAACCAACACATACTG-1, AAACCAACACTAAGTT-1, AAACCAACAGCATGAG-1, AAACCAACAGCATGGA-1, AAACCAACATCATGTG-1, AAACCAACATCTAGCA-1, AAACCGAAGAGAAGGG-1, AAACCGAAGCTACTGG-1, AAACCGAAGCTATTGA-1, AAACCGAAGGAACACA-1, AAACCGAAGGACACTT-1, AAACCGAAGGTCGATT-1, AAACCGAAGGTGCGGA-1, AAACCGAAGGTGTTAC-1, AAACCGAAGTAAAGGT-1, AAACCGAAGTTGGGCC-1, AAACCGCGTCAGGCAT-1, AAACCGCGTTAACGAT-1, AAACCGCGTTAGTTGG-1, AAACCGCGTTCGCTTG-1, AAACCGGCAACAGGAT-1, AAACCGGCAAGGGTTG-1, AAACCGGCAATCCTGA-1, AAACCGGCAGGTCCTG-1, AAACCGGCAGGTTACC-1, AAACCGGCATGTTTGG-1, AAACGCGCAAACCTTG-1, AAACGCGCAACCTGGT-1, AAACGCGCAAGTGTTT-1, AAACGCGCAAGTTATC-1, AAACGCGCAATAACGA-1, AAACGCGCAATAAGCA-1, AAACGCGCACCCTCAC-1, AAACGCGCACCTCGCT-1, AAACGCGCAGTTTCTC-1, AAACGCGCATCTTGAG-1, AAACGGATCACGAATC-1, AAACGGATCATGGCTG-1, AAACGGATCATGTGGT-1, AAACGGATCCCTGACT-1, AAACGGATCGAAGTAG-1, AAACGGATCGTGCCTT-1, AAACGGATCGTTATAG-1, AAACGGATCTACTAAG-1, AAACGGATCTTAATGG-1, AAACGGATCTTTGAGA-1, AAACGTACAACGTGCT-1, AAACGTACAACTAACT-1, AAACGTACAAGCCAGA-1, AAACGTACACTAGCGT-1, AAACGTACACTTAGGC-1, AAACGTACAGCAAGAT-1, AAACGTACAGGAACCA-1, AAACGTACAGGTCCTG-1, AAACGTACAGTTTCTC-1, AAACGTACATAGCTGC-1, AAACGTACATCTTGAG-1, AAACGTACATTGCGGT-1, AAAGCAAGTACCTTAC-1, AAAGCAAGTATACTGG-1, AAAGCACCAAAGCGGC-1, AAAGCACCAACTAGGG-1, AAAGCACCAAGGTCCT-1, AAAGCACCACCAGGTT-1, AAAGCACCACTAAATC-1, AAAGCACCACTGACTA-1, AAAGCACCACTTAACG-1, AAAGCACCAGCTCAAC-1, AAAGCACCAGGTTACC-1, AAAGCACCAGTTTGTG-1, AAAGCACCATAATCGT-1, AAAGCACCATAATTGC-1, ...]

[16207 rows x 0 columns]

In [22]:
rna_path = "/mnt/data0/halo/mouse_breastcancer/C2"
adata_c2 = sc.read_10x_mtx(rna_path, gex_only=False)
adata_c2

AnnData object with n_obs × n_vars = 3793 × 101666
    var: 'gene_ids', 'feature_types'

In [23]:
adata_c2.var

                                      gene_ids    feature_types
Xkr4                        ENSMUSG00000051951  Gene Expression
Gm1992                      ENSMUSG00000089699  Gene Expression
Gm19938                     ENSMUSG00000102331  Gene Expression
Gm37381                     ENSMUSG00000102343  Gene Expression
Rp1                         ENSMUSG00000025900  Gene Expression
...                                        ...              ...
GL456216.1:25495-26401  GL456216.1:25495-26401            Peaks
GL456216.1:40355-41127  GL456216.1:40355-41127            Peaks
GL456216.1:48833-49726  GL456216.1:48833-49726            Peaks
GL456216.1:50856-51892  GL456216.1:50856-51892            Peaks
JH584292.1:13990-14917  JH584292.1:13990-14917            Peaks

[101666 rows x 2 columns]

In [3]:
import pandas as pd

In [5]:
barcode_path = "/mnt/data0/halo/mouse_breastcancer/GSM6533606_filtered_peak_bc_matrix_barcodes.tsv.gz"
barcode = pd.read_csv(barcode_path, delimiter='\t')

In [6]:
barcode

      AAACGAAAGAACAGGA-1
0     AAACGAACATAGCCAT-1
1     AAACGAAGTAACTCCA-1
2     AAACGAAGTATGCTAC-1
3     AAACGAAGTGACGCAA-1
4     AAACGAAGTTATAGAG-1
...                  ...
4512  TTTGTGTGTGTCGTGC-1
4513  TTTGTGTGTTCTACCC-1
4514  TTTGTGTTCATTCATC-1
4515  TTTGTGTTCCCTACGT-1
4516  TTTGTGTTCTACTTTG-1

[4517 rows x 1 columns]

In [13]:
rna_path = "GSM6284669_S1_per_barcode_metrics.csv.gz"
adata_c2 = pd.read_csv(rna_path, delimiter=',')
adata_c2

,barcode,gex_barcode,atac_barcode,is_cell,excluded_reason,gex_raw_reads,gex_mapped_reads,gex_conf_intergenic_reads,gex_conf_exonic_reads,gex_conf_intronic_reads,...,atac_raw_reads,atac_unmapped_reads,atac_lowmapq,atac_dup_reads,atac_chimeric_reads,atac_mitochondrial_reads,atac_fragments,atac_TSS_fragments,atac_peak_region_fragments,atac_peak_region_cutsites
0,AAACAGCCAAACAACA-1,AAACAGCCAAACAACA-1,ACAGCGGGTGTGTTAC-1,0,0,24,16,1,15,0,...,1,0,1,0,0,0,0,0,0,0
1,AAACAGCCAAACATAG-1,AAACAGCCAAACATAG-1,ACAGCGGGTTGTTCTT-1,1,0,33621,32008,3677,6527,19433,...,16733,212,2053,4694,28,1836,7901,3107,3586,6997
2,AAACAGCCAAACCCTA-1,AAACAGCCAAACCCTA-1,ACAGCGGGTAACAGGC-1,0,0,22,19,0,19,0,...,0,0,0,0,0,0,0,0,0,0
3,AAACAGCCAAACCTAT-1,AAACAGCCAAACCTAT-1,ACAGCGGGTGCGCGAA-1,0,0,45,41,0,35,4,...,27,1,2,3,0,0,21,6,3,5
4,AAACAGCCAAACCTTG-1,AAACAGCCAAACCTTG-1,ACAGCGGGTCCTCCAT-1,0,0,23,22,1,11,3,...,7,0,1,2,0,0,4,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736195,TTTGACTTCCCATAGG-1,TTTGACTTCCCATAGG-1,ACTAGGTAGCTTATCG-1,0,2,0,0,0,0,0,...,20,0,2,5,0,0,13,0,1,2
736196,TTTGACTTCGTGCCTT-1,TTTGACTTCGTGCCTT-1,ACTAGGTAGGACACGC-1,0,2,0,0,0,0,0,...,23,0,5,2,0,0,16,1,1,2
736197,TTTGGTAAGCTTATGA-1,TTTGGTAAGCTTATGA-1,AGATAGCTCACTAATC-1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
736198,TTTGTGTTCCCATAGG-1,TTTGTGTTCCCATAGG-1,GTTCTCAAGCTTATCG-1,0,2,0,0,0,0,0,...,24,1,0,6,0,3,14,0,0,0
736199,TTTGTGTTCGCCTAAG-1,TTTGTGTTCGCCTAAG-1,GTTCTCAAGTAAAGGG-1,0,2,0,0,0,0,0,...,4,1,1,0,0,0,2,0,0,0

In [14]:
rnadata = sc.read_10x_h5("GSM6284671_S1_filtered_feature_bc_matrix.h5")
rnadata

AnnData object with n_obs × n_vars = 3422 × 36601
    var: 'gene_ids', 'feature_types', 'genome'

In [15]:
rnadata.var

                    gene_ids    feature_types  genome
MIR1302-2HG  ENSG00000243485  Gene Expression  GRCh38
FAM138A      ENSG00000237613  Gene Expression  GRCh38
OR4F5        ENSG00000186092  Gene Expression  GRCh38
AL627309.1   ENSG00000238009  Gene Expression  GRCh38
AL627309.3   ENSG00000239945  Gene Expression  GRCh38
...                      ...              ...     ...
AC141272.1   ENSG00000277836  Gene Expression  GRCh38
AC023491.2   ENSG00000278633  Gene Expression  GRCh38
AC007325.1   ENSG00000276017  Gene Expression  GRCh38
AC007325.4   ENSG00000278817  Gene Expression  GRCh38
AC007325.2   ENSG00000277196  Gene Expression  GRCh38

[36601 rows x 3 columns]